.propertyList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.propertyList .propertListItem {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.propertyList .propertListItem .propertyImg {
    width: 100%;
    object-fit: cover;
}

.propertyList .propertListItem .propertListTitles h1 {
    font-size: 18px;
}

.propertyList .propertListItem .propertListTitles h2 {
    font-size: 18px;
    font-weight: 300 ;
}